body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 2%;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

button {
  height: 100%;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.columns {
  width: 100%;
}

.columns ul {
  color: white;
  display: flex;
  font-weight: bolder;
  justify-content: space-around;
}

.columns li {
  list-style-type: none;
}

.columns li:first-child {
  margin-left: -3%;
}

.data__list {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.data__list tr td {
  width: 250px;
  text-align: center;
}
