body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: gainsboro;
}

.main {
  height: 100vh;
}

.nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__left {
  display: flex;
  width: 30%;
}

.nav .nav__right {
  display: none;
}

.nav .nav__right-active {
  display: inline-flex;
  justify-content: flex-end;
  width: 30%;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 4%;
  font-size: 2vw;
}

h1 {
  display: inline;
}

.container {
  background-color: white;
  width: 60%;
  margin: 1% auto;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
  padding: 2%;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

button {
  height: 100%;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.columns {
  width: 100%;
}

.columns ul {
  display: flex;
  font-weight: bolder;
  justify-content: space-around;
}

.columns li {
  list-style-type: none;
}

.columns li:first-child {
  margin-left: -4%;
}

.data__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data__list tr td {
  width: 250px;
  text-align: center;
}

.modal {
  position: absolute;
  top: 20%;
  left: 25%;
  height: 300px;
  width: 50%;
  bottom: 50%;
  transform: scale(0);
  transition: all 0.5s ease;
  background-color: white;
  border: 1px solid black;
}

.active {
  transform: scale(1);
  box-shadow: 1px, 1px, 3px, 1px black;
}

.modal #edit-form .edit__header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}

#edit-form {
  display: flex;
  flex-direction: column;
}

.modal #edit-form .edit__header button {
  padding: 1em;
}

.modal #edit-form .edit__header:last-child {
  width: 70%;
}

.modal__container {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.modal__container input {
  width: 97%;
  border-radius: 2px;
  border: 1px solid black;
  outline-color: dodgerblue;
  padding: 5px;
}

.modal__container label {
  left: 0;
}

#close {
  outline: none;
  border: none;
}

#edit-form > button {
  width: 80%;
  align-self: center;
  padding: 1.5%;
  border-radius: 2px;
  background-color: lawngreen;
}
