.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  height: 25px;
  width: 90%;
  background-color: red;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  transform: scale(0);
}
