body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  /* background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover;/ */
  /* color: white; */
  background-color: gainsboro;
}

.container {
  background-color: white;
  padding: 4%;
  margin: 5% auto;
  width: 30%;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
}

a {
  color: blueviolet;
}

button {
  margin-top: 5%;
  color: blueviolet;
  border-radius: 5px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid dodgerblue;
  cursor: pointer;
}

button:hover {
  background-color: dodgerblue;
  transition: all 0.9s ease;
  transform: scale(1.2);
  color: whitesmoke;
}

.container #login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container #login-form #div-container {
  overflow-x: hidden;
  margin: 1%;
  height: 3rem;
  position: relative;
}

.container #login-form #div-container input {
  height: 100%;
  width: 100%;
  background: none;
  padding-bottom: 0px;
  box-sizing: border-box;
  padding-top: 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid black;
}

.container #login-form #div-container label {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-bottom: 2px black;
  pointer-events: none;
}

.container #login-form #div-container label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid blueviolet;
  transition: all 0.4s ease;
  transform: translateX(-100%);
  bottom: 0;
}

.container #login-form #div-container label #email {
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease;
}

.container #login-form #div-container input:focus + label #email {
  transform: translateY(-150%);
  color: blueviolet;
}

.container
  #login-form
  #div-container
  input:not(:placeholder-shown)
  + label
  #email {
  transform: translateY(-150%);
  color: blueviolet;
}

.container
  #login-form
  #div-container
  input:not(:placeholder-shown)
  + label::after {
  transform: translateX(0%);
}

.container
  #login-form
  #div-password
  input:not(:placeholder-shown)
  label::after {
  transform: translateX(0%);
}

.container #image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://st.depositphotos.com/1092019/3536/i/950/depositphotos_35365873-stock-photo-white-keyboard-with-register-button.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 70%;
}
